@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Tapestry&family=Tiro+Bangla&family=Tiro+Devanagari+Sanskrit&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    color: #a19a83;
    text-align: center; 
    font-family: Typography, Trio Bangla, sans-serif;
    padding: 45px;
    font-size: 20px;
}
#hero-msg {
    color: rgb(233, 230, 230);
}
body {
    background-color: #77707c; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
    font-family: Artifika, Trio Bangla, sans-serif;
    margin: 2%;
    font-size: 35px;
}
h2 {
    color: white;
    font-family: Trio Bangla, Artifika, sans-serif;
    padding: 15px 30px;
    font-size: 18px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.home {
    color: white;
    font-family: Trio Bangla, Artifika, sans-serif;
    padding: 10px 35px;
}
footer {
    color: white;
    padding: 10px 35px;
}
.topnav {
    overflow: hidden;
    background-color: #a19a83;
  }
.topnav a:hover {
    background-color: #a19a83;
    color: #a19a83;
  }
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 1px;
    font-size: 17px;
  }